body {
  font-family: "Roboto", sans-serif;
  width: 1600px;
  height: 1880px;
  background: #ffffff;
}

.logotype {
  color: #000000;
  font-family: "Raleway";
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.piece-of-logotype {
  color: #2196f3;
  font-family: "Raleway";
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.studio-piece-logotype {
  color: #ffffff;
}
.nav-list-item {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav-list {
  list-style-type: none;
}
.nav-list-item:hover,
.nav-list-item:focus {
  color: #2196f3;
}
.contact-links {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.contact-links:hover,
.contact-links:focus {
  color: #2196f3;
}
.first-container {
  background: #2f303a;
}

.primary-h {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.lorem-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  list-style-type: none;
}
.lorem-text {
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: none;
  color: #757575;
}
.seconadry-h {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.images-first-list {
  list-style-type: none;
}
.images-second-list {
  list-style-type: none;
}
.team-container {
  background: #f5f4fa;
}
.member-container {
  background: #ffffff;
}
.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-member-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}
.last-container-first-page {
  background: #2f303a;
}
.location {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.location:hover,
.location:focus {
  text-decoration: none;
}
.portfolio-container {
  width: 1170px;
  height: 1360px;
  background-color: #ffffff;
}
.list-with-project {
  list-style-type: none;
}
.mini-container-one {
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.mini-container-two {
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.mini-container-three {
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.mini-container-four {
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.mini-container-five {
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.mini-container-six {
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.mini-container-seven {
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.mini-container-eight {
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.mini-container-nine {
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.images-dimensions-portfolio {
  width: 370px;
  height: 294px;
}
.portfolio-project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio-project-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
.buttons-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}
.buttons-portfolio-item-one {
  width: 121px;
  height: 38px;
  background: #f5f4fa;
  border: 0;
  border-radius: 4px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  font-style: normal;
  cursor: pointer;
}
.buttons-portfolio-item-two {
  width: 93px;
  height: 38px;
  background: #f5f4fa;
  color: #212121;
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  font-style: normal;
  cursor: pointer;
}
.buttons-portfolio-item-three {
  width: 114px;
  height: 38px;
  background: #f5f4fa;
  color: #212121;
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  font-style: normal;
  cursor: pointer;
}
.buttons-portfolio-item-four {
  width: 91px;
  height: 38px;
  background: #f5f4fa;
  color: #212121;
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  font-style: normal;
  cursor: pointer;
}
.buttons-portfolio-item-five {
  width: 121px;
  height: 38px;
  background: #f5f4fa;
  color: #212121;
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  font-style: normal;
  cursor: pointer;
}
.buttons-portfolio-item-one:hover,
.buttons-portfolio-item-one:focus,
.buttons-portfolio-item-two:hover,
.buttons-portfolio-item-two:focus,
.buttons-portfolio-item-three:hover,
.buttons-portfolio-item-three:focus,
.buttons-portfolio-item-four:hover,
.buttons-portfolio-item-four:focus,
.buttons-portfolio-item-five:hover,
.buttons-portfolio-item-five:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
